body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: #D9E2EC;
  align-items: center;
}

body:after { 
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.55); 
  top: 0; bottom: 0; left: 0; right: 0; 
  z-index: -1;
}

body, input, textarea, button, select {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #D9E2EC;
}
.content {
  flex: 1 0 auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.footer {
  flex-shrink: 0;
}

.search-area {
  background-color: #D9E2EC;
  padding: 10px 20px;
  border-radius: 20px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

select, input {
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  outline: none;
}

select {
  opacity: 0.5;
  -webkit-appearance: none;
  -webkit-appearance: none;
	-moz-appearance: none;
  cursor: pointer;
}
input[type=submit] {
  cursor: pointer;
  padding: 0;
  font-weight: bolder;
  color: #003E6B;
}

input[type=text] {
  text-align: center;
  padding: 0 10vw;
}

.weather-report {
  background-color: #D9E2EC;
  color: #243B53;
  border-radius: 20px;
  width: 320px;
  box-sizing: border-box;
}

.main {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.location-name {
  font-weight: bolder;
  font-size: 26px;
}

.feel-like {
  color: #CB6E17;
}

.temperature {
  display: flex;
  font-size: 30px;
  align-items: center;
  font-weight: lighter;
  gap: 10px;
  opacity: 0.7;
}

.sub {
  padding: 30px;
  background-color: #BCCCDC;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub .label {
  opacity: .65;
}

.sub-values {
  font-weight: bolder;
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: small;
  opacity: .7;
}

@media  (max-width:600px) {
  .search-area {
    width: 90vw;
    padding-left: 10px;
    padding-right: 10px;
  }
  .weather-report {
    width: 70vw;
  }
  .location-name {
    font-size: 18px;
  }
  .temperature {
    font-size: 20px;
  }
}

@media (min-width:80em){
  .search-area {
    width: 700px;
  }
}
