body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: #D9E2EC;
  align-items: center;
}

body:after { 
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.55); 
  top: 0; bottom: 0; left: 0; right: 0; 
  z-index: -1;
}

body, input, textarea, button, select {
  font-family: 'Ubuntu', sans-serif;
}

.content {
  flex: 1 0 auto;
  margin-top: 80px;
}

.footer {
  flex-shrink: 0;
}

.search-area {
  background-color: #D9E2EC;
  padding: 10px 20px;
  border-radius: 20px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

select, input {
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  outline: none;
}

select {
  opacity: 0.5;
}
input[type=submit] {
  cursor: pointer;
  padding: 0;
  font-weight: bolder;
  color: #003E6B;
}

input[type=text] {
  text-align: center;
  padding: 0 10vw;
}
    
@media  (max-width:600px) {
  .search-area {
    width: 80vw;
  }
}

@media (min-width:80em){
  .search-area {
    width: 700px;
  }
}
